<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="gmapkey" content="" />
    <meta name="description" content="Dise&ntilde;o y Desarrollo de páginas Web, Aplicaciones Mobile HTML5, posicionamiento Web SEO
        diseño de UX. " />
    <meta name="keywords" content="diseño y desarrollo web, experiencia de usuario UX, colombia, página web, tunja, bogotá, buenos aires, argentina, página dinámica, consultoría." />
    <title>Diseño y Desarrollo Web/UX - Consultoría y Posicionamiento SEO</title>
    <script type="text/javascript" src="<?php echo __DOMAIN; ?>/ganalitycs.js"></script>
    <link rel="icon" href="<?php echo __DOMAIN; ?>/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="canonical" href="http://www.inkstudio.com.co" />
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.inkstudio.com.co",
      "logo": "http://www.inkstudio.com.co/images/logotipoWhiteBackground.png"
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization/LocalBusiness",
      "name" : "Ink Studio Company",
      "url": "http://www.inkstudio.com.co",
      "email": "inkstudiocompany@gmail.com",
      "logo": [{
        "@context" : "http://schema.org",
        "@type": "ImageObject",
        "author": "Leonardo Julián Suárez Amézquita",
        "contentLocation": "Bogotá, Colombia",
        "contentUrl": "http://www.inkstudio.com.co/images/logotipoWhiteBackground.png",
        "description": "Logotipo de Ink Studio Company",
        "name": "Logotipo Ink Studio Company"
      }],
      "contactPoint" : [
        {
            "@context" : "http://schema.org",
            "@type" : "ContactPoint",
            "telephone" : "+54-11-30361238",
            "contactType" : "customer service"
        }],
      "sameAs" : [ "http://www.facebook.com/inkstudiocompany",
        "http://www.twitter.com/inkstudioco",
        "http://www.instagram.com/inkstudiocompany",
        "https://www.google.com/+Inkstudiocompany"]
    }
    </script>

    <meta property="og:title" content="Diseño & Desarrollo Web">
    <meta property="og:site_name" content="Ink Studio Company">
    <meta property="og:url" content="http://www.inkstudio.com.co">
    <meta property="og:image" content="http://www.inkstudio.com.co/images/logotipoWhiteBackground.png">
    <meta property="og:description" content="Desarrollo de páginas web">
    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <link type="text/css" rel="stylesheet" href="{{ asset('css/grid.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/vendor/animate.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.min.css') }}" />

    <script type="text/javascript" src="{{ asset('js/vendor/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/glide.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.min.js') }}"></script>
</head>